* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornerflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

/* HEADER SECTION */
.header {
  background-color: var(--white);
  display: flex;
  height: 72px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--cornerflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: inline-flex;
  height: 24px;
  align-items: center;
  margin-right: 76px;
}

.nav-logo-span {
  color: var(--navybluemodal);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
}

.nav .list {
  display: flex;
}

.nav-list-item {
  padding: 24px 0;
  margin-right: 40px;
}
.nav-list-item:last-child {
  margin-right: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  list-style: none;
}

.nav-list-item-link {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.32px;
  color: var(--ocean);
  color: var(--navyblue);
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item-link::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--ocean);
  position: absolute;
  left: 0;
  border-radius: 2px;
  opacity: 0;
  bottom: -1px;
  transition-property: width;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active-nav {
  position: relative;
  color: var(--ocean);
}

.active-nav::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--ocean);
  position: absolute;
  left: 0;
  border-radius: 2px;
  bottom: -1px;
  opacity: 1;
}

.nav-list-item-link:hover::after {
  opacity: 1;
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
  color: var(--ocean);
  width: 100%;
}
.address {
  font-style: normal;
  margin-left: 332px;
}

.address {
  display: flex;
  align-items: center;
}

.address-link {
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item {
  margin-right: 40px;
}
.address-list-item:last-child {
  margin-right: 0;
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

.main {
  background-color: var(--white);
}
/* Section 1 */
.hero-section {
  background-color: var(--navyblue);
  padding: 188px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-tittle {
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: var(--white);
  text-align: center;
  max-width: 496px;
}
.hero-button {
  background-color: var(--iris);
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
  cursor: pointer;
}

/* Section 2 */
.features-section {
  background-color: var(--white);
  padding: 120px 0;
}

.features-section .section-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--navybluemodal);
  text-align: center;
  margin-bottom: 72px;
}

.features-list-item {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
}
.features-list-item:last-child {
  margin-right: 0;
}

.features-list-item .item-title {
  margin-bottom: 8px;
}

.features-section-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}

.item-title {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  color: var(--navyblue);
}
.item-text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  color: var(--slate);
  margin-bottom: 8px;
}

/* Section 3 */
.services-section {
  background-color: var(--white);
  padding-bottom: 120px;
}

.services-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-list-item {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
}
.service-list-item:last-child {
  margin-right: 0;
}

/* Section 4 */
.team-section {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-list-item {
  max-width: 264px;
  list-style: none;
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  margin-right: 24px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-item:last-child {
  margin-right: 0;
}

.team-name {
  padding: 32px 0;
}

.team-section .item-title {
  text-align: center;
  margin-bottom: 8px;
}

.team-section .item-text {
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-list {
  list-style: none;
  width: 40px;
  height: 40px;
}
.social-media-link-item {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link-item:hover,
.social-media-link-item:focus {
  background-color: var(--ocean);
}

/* Section 5 */
.customer-section {
  padding: 120px 0;
}
.customer-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customer-icon {
  display: flex;
  gap: 24px;
}
.customer-icon-list {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customer-icon-list {
  list-style: none;
  min-width: 168px;
  height: 88px;
}
.customer-icon-list-item {
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightslate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lightslate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon-list-item:hover,
.customer-icon-list-item:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

/* footer Section */
.footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer-container-logo {
  margin-right: 120px;
}

.footer-logo-span-web {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--iris);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.footer .logo {
  margin-bottom: 16px;
  flex-basis: 100%;
}

.footer-logo-span {
  color: var(--cloud);
}
.footer-p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  color: var(--cloud);
  max-width: 264px;
}

.footer-social-media-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-social-media .social-media {
  gap: 16px;
}
.footer-social-media .social-media-link-item:hover,
.footer-social-media .social-media-link-item:focus {
  background-color: var(--green);
}

.footer-subscribe {
  margin-left: 80px;
  width: 453px;
}
.footer-subscribe-title {
  color: var(--white);
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.form-footer {
  display: flex;
  gap: 24px;
}

.subscribe-input-email {
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  flex-shrink: 0;
  background: none;
  border: none;
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
}

.subscribe-input-email::placeholder {
  color: var(--white);
}

.footer-subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
}

.footer-send-icon {
  margin-left: 16px;
}

/* Portfolio */

.portfolio-main .container {
  flex-wrap: wrap;
}

.main-section {
  padding: 96px 0 120px 0;
}

.portfolio-main h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.portfolio-main .list {
  justify-content: center;
  margin-bottom: 72px;
}

.button-menu {
  display: flex;
  width: 1158px;
  gap: 24px;
}

.button {
  color: var(--iris);
  background-color: var(--cloud);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid var(--cornerflower);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--ocean);
  color: var(--white);
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-card-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.project-card-item {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-category {
  padding: 32px 16px;
  border: 1px solid var(--cornerflower);
  border-top: none;
}

.application-category .item-title {
  margin-bottom: 8px;
}

.project-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-card-item:hover,
.project-card-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card:hover .overlay-text {
  transform: translateY(0%);
}
.project-card-item:focus .overlay-text {
  transform: translateY(0%);
}

.project-card-img {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Modal Window */
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  padding: 72px 24px 24px 24px;
}

.backdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornerflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--ocean);
  border: none;
}

.modal-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .modal-close,
.close-button:focus .modal-close {
  fill: var(--white);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 16px;
}
.input-container {
  margin: 8px;
}

.input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
  display: block;
  margin-bottom: 4px;
}

.input-area {
  position: relative;
}

.input-data {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-data:focus {
  border-color: var(--iris);
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-data:focus + .input-icon {
  fill: var(--iris);
}

.input-comment {
  margin-bottom: 16px;
  margin-left: 8px;
  width: 344px;
}
.user-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment:focus {
  border-color: var(--iris);
}

.modal-checkbox {
  margin-bottom: 24px;
  margin-left: 8px;
}

.visually-hidden {
  display: none;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate);
}
.checkbox-on {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.checkbox:checked + .ml-checkbox > .checkbox-on {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.checkbox:focus + .ml-checkbox > .checkbox-on {
  outline: 1px solid rgba(46, 47, 66, 0.4);
}

.check-icon {
  fill: var(--cloud);
}

.privacy-link {
  color: var(--iris);
}

.modal-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 25%;
}

/* CSS Media Query */
/* @media (min-width: 428px) {
  .container {
    width: 428px;
    padding: 0 15px;
    margin: 0 auto;
  }
} */

@media (min-width: 768px) and (max-width: 1157px) {
  .main {
    max-width: 768px;
  }

  .container {
    max-width: 768px;
    /* padding: 0 15px; */
    margin: 0 auto;
  }
  /* Media query for Header Section */
  .header {
    width: 768px;
  }
  .header-container {
    padding: 0;
    margin-left: 16px;
    margin-right: 0;
    max-height: 100%;
  }
  .nav .logo {
    margin-right: 120px;
  }
  .address .list {
    flex-direction: column;
  }
  .address {
    margin-left: 121px;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .address-list-item {
    margin-right: 0;
  }
  .address-list-item:first-child {
    margin-bottom: 12px;
  }
  .address-link {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.48px;
    padding: 0;
  }

  /* Media query for Section 1 - Hero */

  .hero-section {
    width: 768px;
    height: 436px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero-section .container {
    justify-content: center;
    text-align: center;
  }
  .hero-tittle {
    margin-top: 112px;
  }
  .hero-button {
    margin-top: 36px;
  }

  /* Media query for Section 2 - Features */

  .features-section {
    width: 768px;
    padding: 96px 0;
  }
  .features-section .container {
    width: 736px;
    height: 312px;
    padding: 0;
  }
  .features-section-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 24px; */
  }
  .features-list-item {
    width: 356px;
    height: 120px;
    margin-right: 24px;
    flex-basis: calc((100% / 2 - 24px));
    margin-bottom: 72px;
    margin-top: 0;
  }
  .features-list-item .item-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
  }
  .features-list-item:nth-child(2) {
    margin-right: 0;
  }
  .features-section-icon {
    display: none;
  }
  .features-list-item .item-text {
    margin-bottom: 0;
  }

  /* Media query for Section 3 - Service */
  .services-section {
    display: none;
  }

  /* Media query for Section 4 - Team */

  .team-section {
    width: 768px;
    height: 1224px;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .team-section .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-list-item:nth-child(2) {
    margin-right: 0;
  }
  .team-list-item {
    flex-basis: calc((100% / 2 - 30px));
    margin-bottom: 64px;
  }

  /* Media query for Section 5 - Customer */

  .customer-section {
    max-width: 552px;
    padding-top: 96px;
    padding-bottom: 96px;
    margin: 0 auto;
  }
  .customer-section .container {
    padding: 0px;
  }
  .customer-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Media query for footer */
  .footer {
    width: 768px;
    height: 456px;
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 108px;
  }
  .footer .container {
    flex-wrap: wrap;
    padding: 0;
  }
  .footer-container-logo {
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .footer-container-logo .logo {
    margin-bottom: 17.5px;
  }
  .footer-subscribe {
    margin: 0;
  }
}
